h1 {
    text-align: center;
}

.success, .error {
    color: #fff;
    padding: 5px;
    margin: 5px 0 15px 0;
}

.success {
    text-align: center;
    background-color: green;
}

.error {
    text-align: center;
    background-color: red;
}

a {
    text-decoration: none;
}